.containerTemperatura{
    border: solid 2px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    margin: 50px auto;
    background-color: rgb(244, 239, 233);
}
.text{
    margin-left: 110px;
    margin-top: 75px;
}
.container-temperatura{
    margin-left: 110px;
}
.grados{
    margin-top: 100px;
    margin-left: 110px;
}   
.boton{
    margin-left: 310px;
}
.termometro{
    margin-left: 400px;
    width: 40px;
    border: solid 1px black;
    height: 300px;
    transform: rotate(180deg);
    position: relative;
    bottom:  300px;
    left: 50px;
}
.reset{
    margin-left: 310px;
    position: relative;
    top: 10px;

}

.mercurio{
    width: 100%;
    height: 0px;
    background-color: red;
    transform: rotate(180deg);
    position: relative;
}
body{
    background: url(https://img1.freepng.es/20201112/igz/transparent-thermometer-icon-celsius-icon-medicine-icon-5facd4167fe9b9.0253359616051620065239.jpg) ;
}
